div{width:700px;}
#tuangou {
	font-family: "新宋体";
	font-size: 26px;
	color:#6633CC;
     border-top :2px solid  purple;
	 border-left : 2px solid  purple;
	padding-top:20px;
	width:350px;
	float:left;
}
#tuangou2 { 
	font-family: "新宋体";
	font-size: 26px;
	color:#6633CC;
     border-top : 2px solid blue;
	 border-right : 2px solid blue;
	padding-top:20px;
	width:300px;
	float:left;

}
#tuangou1
{    font-family: "新宋体";
	 font-size: 20px;
	 color:#6633CC;
     border-bottom : 2px solid  blue;
	 border-left : 2px solid  blue;
	 text-indent:28px;
	 width:450px;
	 height:330px;
	 float:left;
	 padding-top:50px;
	 }
	 #tuangou3 {
	font-family: "新宋体";
	font-size: 26px;
	color:#6633cc;
      border-bottom : 2px solid purple;			;
	 border-right : 2px solid purple;
	
	width:200px;
	float:left;
	padding-top:320px;
	
}
img
{width:300px;
height200px;}